b.txt
carpeta/
carpeta/*.exe
01-intropython/.ipynb_checkpoints/

02-numpy/.ipynb_checkpoints/

deberes/01-programa_CRUD/__pycache__/

proyectos/1er_bimestre/.ipynb_checkpoints/

*.xlsx#

*.csv#

proyectos/1er_bimestre/datos/reportes-homicidio.csv

proyectos/1er_bimestre/datos/reportes-homicidio.csv.tar.gz
